.container {
  display: flex;
  flex-direction: column;
  margin: 0 5em;
  align-items: center;
}
#search {
  margin: 0 2em 1em 2em;
  width: 100%;
  padding: 1em;
}
#results {
  display: flex;
  flex-wrap: wrap;
}
.item {
  padding: 0.5em;
  margin: 0 1em 1em 1em;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-size: 1.5em;
}
.vegan {
  background: #c5e1a5;
}

.animal {
  background: #ffcdd2;
}

.meaby {
  background: #fff9c4;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}